<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout disableAnsi="false"
                           pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} %highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green bold, DEBUG=black, TRACE=blue} [%8.8thread] %25.25logger{36}: %msg%n%ex"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="com.zaxxer.hikari" level="error"/>

        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>